<!DOCTYPE html>
<html>

<head>
  <title>rgbtv</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/admin.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/vendor.js"></script>
  <script src="/scripts/main.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="rgbtv">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/images/icons/manifest.json">
  <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/images/icons/favicon.ico">
  <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>

<body>

  <div id="app">

    <channel-list inline-template v-bind:channels="channels" v-bind:invalid-channels="invalidChannels" v-bind:channel="channel" v-on:channel-changed="onChannelChanged">
      <select v-on:change="channelChanged">
        <option value="" :selected="channel === null ? 'selected' : null">all</option>
        <option :value="i" v-for="i in channels" :selected="i === channel ? 'selected' : null">{{ i }}</option>
        <option value="new">new channel...</option>
      </select>
    </channel-list>

    <video-add inline-template v-bind:channel="channel">
      <div>
        <form v-on:submit.prevent="submit">
          <input type="text" class="video-add-url" placeholder="paste URL to add" />
        </form>
      </div>
    </video-add>

    <ul id="video-list">
      <video-item inline-template v-for="item in videos" :key="item._id" v-bind:video="item" v-bind:channel="channel">
        <li class="video-item">
          <h1><a class="link-source" v-bind:href="video.url" target="_blank">{{ video.title ? video.title : 'Loading...' }}</a></h1>
          <div class="video-thumbnail" v-bind:style="{ backgroundImage: 'url('+thumbnail+')' }">
            <div class="video-delete" v-on:click="removeVideo">✖</div>
          </div>
        </li>
      </video-item>
    </ul>

  </div>

  <script>
    AdminPage.init();

  </script>
</body>

</html>
