@import 'main.scss';

#video-list {
  list-style: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

h1 {
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item {
  float: left;
  outline: 2px solid transparent;
  overflow: hidden;
  padding: 1vw;
  white-space: nowrap;
  width: 48vw;
}

.video-thumbnail {
  background-color: black;
  background-position: center center;
  background-size: cover;
  height: 28vw;
  position: relative;
  width: 100%;
}

.video-delete {
  background-color: white;
  bottom: 0;
  cursor: default;
  padding: .8rem;
  position: absolute;
  right: 0;
  text-align: center;
}

.video-item.selected {
  outline: 2px solid black;
}

a.link-source {
  color: black;
  text-overflow: ellipsis;
}

#channel-list,
#tuner-list,
#video-add-url {
  font-family: $font-body;
  font-size: 2.5em;
  width: 100%;
}

#tuner-control-title {
  font-size: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#tuner-control-buttons button {
  display: inline;
  float: left;
  font-size: 2em;
  line-height: 1.5em;
  width: 20%;
}

.off {
  text-decoration: line-through;
}
