.video-info {
  background-color: rgba(1, 1, 1, .5);
  bottom: 0;
  color: #fff;
  height: 25vh;
  left: 0;
  position: absolute;
  right: 0;
}

.video-info-toggle-enter-active,
.video-info-toggle-leave-active {
  transition: bottom .2s ease-out;
}

.video-info-toggle-enter,
.video-info-toggle-leave-to {
  bottom: -25vh - $onepxhigh;
}

.video-info-toggle-enter-to,
.video-info-toggle-leave {
  bottom: 0;
}

#video-qr-code {
  background-color: #fff;
  padding: $onepxwide * 10;
  position: absolute;
  right: $info-margin-w;
  top: $info-margin-h;
  width: $qr-size;
}

#video-info-content-container {
  bottom: $info-margin-h;
  left: $info-margin-w;
  position: absolute;
  right: ($info-margin-w * 2) + $qr-size + $onepxwide * 10;
  top: $info-margin-h;
}

#video-info-content {
  column-count: 3;
  column-fill: auto;
  column-gap: ($info-margin-w / 2);
  height: 100%;
  overflow: hidden;
}

#video-info-author-title {
  column-span: all;
  margin-bottom: ($info-margin-h / 2);
}

#video-info-title {
  font-family: $font-head;
  font-size: 3vh;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#video-info-author {
  float: right;
  font-family: $font-head;
  font-size: 2vh;
  font-weight: normal;
  margin: 0;
  margin-left: $info-margin-w;
  margin-top: .3em;
  max-width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#video-info-description {
  font-size: 1.5vh;
  font-weight: normal;
  margin: 0;
}

#video-info {
  .shown {
    bottom: 0;
  }
}
