@import "main.styl"

#video-list
  list-style none
  margin 0
  padding 0

h1
  text-overflow ellipsis
  overflow hidden

.video-item
  white-space nowrap
  overflow hidden
  float left
  width 48vw
  padding 1vw
  outline 2px solid transparent

.video-item .video-thumbnail
  width 100%
  height 28vw
  background-size cover
  background-position center center
  position relative

.video-delete
  right 0
  bottom 0
  position absolute
  text-align center
  background-color white
  padding .8rem

.video-item.selected 
  outline 2px solid black

button
  height 50px
  width 50px
  background-color white
  border none
  font-size 1.8em

a.link-source
  text-overflow ellipsis
  color black

input
  font-family font-body
  font-size 2em
  width 100%
  