@import "main.styl"

#video-list
  list-style none
  margin 0
  margin-top 1em
  padding 0

h1
  text-overflow ellipsis
  overflow hidden
  line-height 1em

.video-item
  white-space nowrap
  overflow hidden
  float left
  width 48vw
  padding 1vw
  outline 2px solid transparent

.video-item .video-thumbnail
  width 100%
  height 28vw
  background-size cover
  background-position center center
  position relative
  background-color black

.video-delete
  right 0
  bottom 0
  position absolute
  text-align center
  background-color white
  padding .8rem
  cursor default

.video-item.selected 
  outline 2px solid black

a.link-source
  text-overflow ellipsis
  color black

#channel-list, #tuner-list, #video-add-url
  font-family font-body
  font-size 2.5em
  width 100%
  
#tuner-control-title
  font-size 2em
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

#tuner-control-buttons button
  font-size 2em
  display inline
  float left
  width 20%
  line-height 1.5em

.off
  text-decoration line-through