@import "main.styl"

onepxwide = 0.05208333333vw
onepxhigh = 0.09259259259vh
info-margin = 30px
qr-size = 100px

body
    user-select none
    overflow hidden
    cursor none

#video-player
    background-color black
    position absolute
    top 0
    left 0
    bottom 0
    right 0

.video-info
    background-color rgba(1, 1, 1, .5)
    color white
    position absolute
    left 0
    right 0
    bottom 0
    height 25vh

.video-info-toggle-enter-active, .video-info-toggle-leave-active
    transition all .2s ease-out

.video-info-toggle-enter, .video-info-toggle-leave-to
    bottom -25vh - onepxwide

.video-info-toggle-enter-to, .video-info-toggle-leave
    bottom 0

#video-qr-code
    position absolute
    top info-margin
    right info-margin

#video-info-content-container
    position absolute
    left info-margin
    top @left
    right @left * 2 + qr-size
    bottom @left

#video-info-content
    overflow hidden
    column-count 3
    column-gap (info-margin / 2)
    column-fill auto
    height 100%

#video-info-author-title
    column-span all
    margin-bottom (info-margin / 2)

#video-info-title
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    margin 0

#video-info-author
    float right
    margin 0
    margin-left info-margin
    margin-top .3em
    max-width 25%
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    
#video-info-description
    margin 0

#video-info.shown
    bottom 0

#video-progress
    background-color white
    border-bottom onepxhigh solid black
    position absolute
    left 0
    bottom 0
    height onepxhigh

#controller-status
    position absolute
    left 0
    bottom 0
    width onepxwide * 10
    height onepxhigh
    border-bottom onepxhigh solid white
    background-color black
    visibility hidden

#controller-status.lowbatt
    border-bottom onepxhigh solid black
    background-color red

#controller-status.shown
    visibility visible

#click-target
    background-color transparent
    position absolute
    top 0
    left 0
    bottom 0
    right 0

video
    width 100%
    height 100%
